{{!< default}}

<section class="hero-slider">
  <h2 class="section-title">Latest Articles</h2>
  {{> loop}}
</section>

<section class="bluesky-slider">
  <h2 class="section-title">Latest on Bluesky</h2>
  {{> bluesky-slider}}
</section>